.container{
    display: flex;
}

.heading{
    color: #a2a2a2;
    font-weight: 900;
}
.desc{
    color: #000;
}

.x-button{
    float: right;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #eff1ed;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    transform: scale(1);
    // margin: 7px 7px 0;
    margin: 20px;

    &:hover{
        transform: scale(1.2);
    }
    i{
        position: absolute;
        top: 3px;
        right: 5px;
    }

}