<h2 mat-dialog-title ><b>View Details</b></h2>

<div mat-dialog-content>
  <div class="container">
    <div class="heading">
      Agri-Input Category :&nbsp;
    </div>
    <div class="desc">
      {{data.orderDetails.category}}
    </div>
  </div>
  <div class="container">
    <div class="heading">
      Product Description :&nbsp;
    </div>
    <div class="desc">
      {{data.orderDetails.desc}}
    </div>
  </div>
  <div class="container">
    <div class="heading">
      Order quantity :&nbsp;
    </div>
    <div class="desc">
      {{data.orderDetails.qty}}
    </div>
  </div>
  <br>
  Note : <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, consectetur sapiente! Illo, commodi unde repudiandae accusamus eius eum voluptates. Nostrum corrupti ipsam quisquam. In esse ea atque debitis, nam nostrum?</p>
</div>

<div align="end"  >
  <button mat-button style="background-color: #3f51b5;color: #fff;" (click)="doCloseDialog()">Close</button>
</div>
